@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
.hero {
  max-width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif, "Courier New", Courier, monospace;
  background-color: #0a2558;
}

.container {
  max-width: 430px;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px #333;
  overflow: hidden;
  margin: 0 20px;
}
.container.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.container.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}
.container.active .form-container {
  height: auto;
}
.container .signup {
  opacity: 0;
  transition: opacity 0.09s ease;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.nav {
  width: 18%;
}

.dashboard__content {
  margin-left: 18%;
  width: 82%;
  background: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.main__heading-conatiner {
  border-bottom: 1px solid #0a2558;
}
.main__heading {
  text-align: center;
  font-size: 36px;
  color: #081d45;
}
.main__card {
  justify-content: center;
  align-items: center;
  min-width: 100%;
  background: #0c3b92;
  color: #fff;
  margin: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.main__card-title {
  font-size: 20px;
}
.main__card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.main__card .content__icon {
  border-radius: 50%;
  height: 50%;
  width: 50%;
  background: #fff;
  font: 60px;
}
.main__card .content__icon::before {
  transform: translateX(40%);
  color: #0c3b92;
}
.main__card .content__text {
  padding: 5px;
  font-size: 20px;
}
.main .card-conatiner {
  display: flex;
  padding: 20px 0;
}

.admin {
  height: 100vh;
  margin-top: 0;
  padding: 20px;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  text-align: right;
  padding: 10px 50px;
}
.heading__content {
  font-weight: lighter;
}
.heading__button {
  font-size: 24px;
  border: none;
  padding: 10px;
  background-color: #367e18;
  color: #fff;
  border-radius: 5px;
}
.heading__button:hover {
  background-color: #47ac1c;
}

.main .container {
  height: auto;
}

.flex-button {
  display: flex;
  justify-content: space-between;
}

.add-item-popup {
  display: none;
}
.add-item-popup.active {
  background: #f3f3f3;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-item-popup .form-container {
  background-color: #fff;
  opacity: 1;
}

.edit-item-popup {
  display: none;
}
.edit-item-popup.active {
  background: #0a2558;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 35px;
  color: #fff;
}
.button__input {
  border: none;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  padding: 0 35px;
  background-color: #0a2558;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  color: #fff;
}
.button__input:hover {
  background-color: #081d45;
}
.button__add-user {
  background: #367e18;
}
.button__add-user:hover {
  background-color: #47ac1c;
}
.button__cancel {
  background: #FA7070;
}
.button__cancel:hover {
  background-color: #e02c2c;
}

.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.checkbox-text .checkbox-content__box {
  margin: 0 0px -2px 4px;
  accent-color: #0a2558;
}
.checkbox-text .checkbox-content__text {
  color: #333;
  padding: 0 10px;
  font-size: 16px;
}

.success {
  border-bottom: #367e18;
}

.error {
  border-bottom: #FA7070;
}

.form-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 180%;
  height: 440px;
  transition: height 0.2s ease;
}
.form-container .form {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}
.form-container .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}
.form-container .form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: #0a2558;
  border-radius: 25px;
}
.form-container .form .input {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 30px;
}
.form-container .form .input__field {
  width: 100%;
  height: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}
.form-container .form .input__field.error {
  color: #FA7070;
  border-bottom: 2px #FA7070 solid;
}
.form-container .form .input__field.error::-moz-placeholder {
  color: #FA7070;
  opacity: 0.5;
}
.form-container .form .input__field.error:-ms-input-placeholder {
  color: #FA7070;
  opacity: 0.5;
}
.form-container .form .input__field.error::placeholder {
  color: #FA7070;
  opacity: 0.5;
}
.form-container .form .input__field.success {
  border-bottom: 2px #47ac1c solid;
}
.form-container .form .input.error small {
  color: #FA7070;
}
.form-container .form .text {
  color: #333;
  font-size: 14px;
}
.form-container .form .text .link-text {
  color: #0a2558;
  text-decoration: none;
}
.form-container .form .text .link-text:hover {
  text-decoration: underline;
}
.form-container .form .link-text {
  color: #0a2558;
  padding: 0 10px;
  font-size: 16px;
  text-decoration: none;
}
.form-container .form .link-text:hover {
  text-decoration: underline;
}
.form-container .form .login-signup {
  margin-top: 30px;
  text-align: center;
}

.success {
  border-bottom: #367e18;
}

.error {
  border-bottom: #FA7070;
}

.uil {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
}
.uil.icon {
  left: 0;
}
.uil.show-hide-password {
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.trash-icon {
  cursor: pointer;
  color: #FA7070;
}

.edit-icon {
  cursor: pointer;
  color: #081d45;
}

.add-icon {
  color: #fff;
}

.table {
  width: 100%;
  background: #fff;
  margin-top: 0;
  font-size: 20px;
  border-spacing: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 7px;
}
.table__body {
  border-radius: 5px;
}
.table__head {
  font-weight: lighter;
  padding: 7px;
  margin: 0;
  text-transform: capitalize;
  background-color: #0a2558;
  color: #fff;
}
.table__row:nth-child(odd) {
  background-color: #fff;
  color: #333;
}
.table__row:nth-child(even) {
  background-color: #f3f3f3;
  color: #333;
}
.table__row:hover {
  transform: scaleY(1.1);
  background: #081d45;
  color: #fff;
}
.table__row:hover .edit-icon {
  color: #fff;
}
.table__row--noscale:hover {
  transform: none;
}
.table__data {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #C4DFAA;
  text-transform: capitalize;
  font-size: 18px;
}

.nav {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  background-color: #0a2558;
  position: fixed;
}
.nav__left {
  width: 100%;
}

.list {
  background: #0a2558;
  margin-top: 40px;
  border-top: 1px solid #fff;
  padding-left: 20px;
  list-style: none;
}
.list__items {
  margin: 5px 0;
  position: relative;
  padding: 8px;
}
.list__items:hover {
  background: #fff;
  border-radius: 5px;
}
.list__link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.list__link .icon {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(20%);
  color: #fff;
}
.list__link:hover {
  background: #fff;
  border-radius: 5px;
  color: #081d45;
}
.list__link:hover .icon {
  color: #081d45;
}
.list__content {
  padding-left: 20px;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  color: #fff;
  padding: 10px;
}/*# sourceMappingURL=styles.css.map */