$primary-color: #4070f4;
$dark-color: #333;
$secondary-color: #5c6d9e;
$light-color: #fff;
$error-color: rgb(226, 7, 7);
$error-color-dark: rgb(110, 37, 37);
$sucess-color: #367e18;
$sucess-color-light: #47ac1c;
$grey-color: #999;
