.admin {
    height: 100vh;
    margin-top: 0;
    padding: 20px;
    // background-color: $primary-color-soft;
}
.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $light-color;
    text-align: right;
    padding: 10px 50px;
    &__content{
       
        font-weight:lighter;
    }
    &__button {
        font-size: 24px;
        border: none;
        padding: 10px;
        background-color: $sucess-color;
        color: $light-color;
        border-radius: 5px;
        &:hover{
            background-color: $sucess-color-light;
        }
    }
}
