.checkbox-text {
    .checkbox-content {
        display: flex;
        align-items: center;

        &__box {
            margin: 0 0px -2px 4px;
            accent-color: $primary-color;
        }

        &__text {
            color: $dark-color;
            padding: 0 10px;
            font-size: 16px;
        }
    }
}