@import "./validation-border";
.form-container {
    position: relative;
    display: flex;
    align-items: center;
    @include size(180%, 440px);
    transition: height 0.2s ease;

    .form {
        width: 50%;
        padding: 30px;
        background-color: #fff;
        transition: margin-left 0.18s ease;
        .title {
            position: relative;
            font-size: 27px;
            font-weight: 600;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                @include size(30px, 3px);

                background-color: $primary-color;
                border-radius: 25px;
            }
        }
        .input {
            position: relative;
            @include size(100%, 50px);
            margin-top: 30px;
           
            &__field {
                @include size(100%, 100%);
                padding: 0 35px;
                border: none;
                outline: none;
                font-size: 16px;
                border-bottom: 2px solid #ccc;
                border-top: 2px solid transparent;
                transition: all 0.2s ease;
                &.error{
                    color:$error-color;
                    border-bottom: 2px $error-color solid;
                    &::placeholder{
                        color: $error-color;
                        opacity: 0.5;
                    }
                   
    
                }
                &.success{
                    border-bottom: 2px $sucess-color-light solid;
                }
            
               
                
            }
            &.error{
                small{
                    color: $error-color;
                }
               
            
            }
        }
        .text {
            color: $dark-color;
            font-size: 14px;
            .link-text {
                color: $primary-color;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .link-text {
            color: $primary-color;
            padding: 0 10px;
            font-size: 16px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        .login-signup {
            margin-top: 30px;
            text-align: center;
        }
    }
}


//color for small
