.main {
    .container {
        height: auto;
    }
}

.flex-button {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-popup {
    display: none;

    &.active {
        background: $grey-color;
        position: fixed;
        width: 100vw;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1;
        opacity: 0.95;
        margin-left: 0;
        @include centerItems();


    }

    .form-container {
        background-color: $light-color;
        opacity: 1;
        border-radius: 10px;
    }



}