.table {
    width: 100%;
   
    background: $light-color;
    margin-top: 0;
    font-size: 20px;
    border-spacing: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 7px;



    &__body {
        border-radius: 5px;
    }

    &__head {
        font-weight: lighter;
        padding: 7px;
        margin: 0;
        text-transform: capitalize;
        background-color: $primary-color;
        color: $light-color;

      
    }

    &__row {


        &:nth-child(odd) {
            background-color: $light-color;
            color: $dark-color;
        }

        &:nth-child(even) {
            background-color: $grey-color;
            color: $dark-color;
        }
        
        &:hover {
            transform: scaleY(1.1);
            background: $primary-color-soft;
            color: $light-color;
            .edit-icon{
                color: $light-color;
            }

        }

        &--noscale{
            &:hover{
                transform: none;
            }
        }
    }


    &__data {
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid $primary-color-light;
        text-transform: capitalize;
        font-size: 18px;


    }
}