$primary-color: #0a2558;
$dark-color: #333;
$secondary-color: #081d45;
$light-color: #fff;
$error-color: #e75858;
$error-color-dark: #e02c2c;
$sucess-color: #367e18;
$sucess-color-light: #47ac1c;
$grey-color: #f3f3f3;
$primary-color-light: #C4DFAA;
$primary-color-soft: #081d45;
$primary-color-bright: #0c3b92;
$warining-color: #e7d210e7;
$warining-color-bright: #ffe816;